body {
  margin: 0;
  padding: 1rem 1.5rem;
  background-color: #eeeeee;
}
.icon {
  font-size: 4rem;
}
.fa-brands {
  font-size: 2rem;
  color: black;
}

.fa-brands:hover {
  color: blue;
}
.mastHead {
  padding: 0px 9%;
}
.container {
  padding: 0 10%;
  margin: auto;
  padding-top: 15px;
}

.manoj {
  padding-left: 22px;
}

.col-md-8 {
  margin: auto;
}

img {
  width: 100px;
  height: 100px;
}
.flag {
  padding-left: 5px;
  width: 25px;
  height: 15px;
}
.hidden {
  display: none;
}

.sub-el {
  padding-left: 10px;
}
.hourly-container {
  margin-top: 38px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 373px;
  width: 100%;
}
.hourly {
  padding: 10px;
  background-color: white;
  margin-bottom: 5px;
}
.hourly-img {
  width: 40px;
  height: 40px;
}
.hourly-show {
  cursor: pointer;
  text-align: right;
  color: blue;
}
.subdiv-input {
  width: 90%;
  margin-right: 10px;
}
.heading {
  padding-top: 24px;
}
.hour-weather {
  width: 50%;
}

@media screen and (max-width: 991px) {
  .hour-weather {
    width: 100%;
  }
}
@media screen and (max-width: 537px) {
  .mastHead {
    padding: 0px 0%;
  }
  .container {
    padding: 0px 0%;
  }
}
